/node_modules
/vendor
.env
.env.local
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public/**
/public/storage
/public/build
/public/hot
/public/vendor/**
/public_html/**
*.log
*.sql
*.sqlite
*.pdf
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.svg
.DS_Store
Thumbs.db
composer.lock
package-lock.json
yarn.lock
app.zip
storage.zip
storage/
logs/
bootstrap/cache/*
bootstrap/*.php
composer.phar
tests/
lang/vendor/
framework/
*.zip
